<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Lỗi</title>
</head>
<style>

</style>
<body>
    <div class="container" >
        <div class="body-error">
            <img src="/images/permissions.svg" alt=""><br>
            <b>Bạn hiện không xem được nội dung này</b>
            <p>Lỗi này thường do chủ sở hữu chỉ chia sẻ nội dung với một nhóm nhỏ, thay đổi người được xem hoặc đã xóa nội dung.</p>
            <a href="/" class="btn btn-primary" role="button">Quay lại trang chủ</a>
        </div>
        
    </div>
    
</body>
</html>